.dashboard__items__item {
    padding-left: 15px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard__items__item:hover {
    background-color: #eee;
    cursor: pointer;
}

.dashboard__items__item__remove {
    margin-right: 15px;
    cursor: pointer;
}

.dashboard__items__item__remove:hover {
    color: red;
}

.dashboard__items__item__link:hover {
    color: cornflowerblue;
}

.dashboard__items__item__link {
    text-decoration: none;
    color: black;
}

.dashboard__items__item__link.active {
    color: cornflowerblue;
}