* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
    width: 50%;
}

.todolist {
    width: 100%;
}

.todolist, td {
    border-collapse: collapse;
    border: solid 1px black;
}

.description {
    font-weight: 300;
}

.title.done {
    color: grey;
    text-decoration: line-through;
}

.due-date {
    width: 35%;
}

.due-date.due {
    color: red;
}

.terminator {
    text-align: center;
}

.terminator:hover {
    cursor: pointer;
    color: red;
}

.toggle {
    margin: 0 auto;
}

button {
    border: solid 1px black;
    border-radius: 0%;
    float: left;
}

button:hover {
    cursor: pointer;
}

button.active {
    background-color: white;
}

button.all {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

button.opened {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.add-todo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-todo input {
    width: 35%;
}